.info {
  display: flex;
  margin-bottom: 2rem;
  padding-left: 10rem;
  &__img {
    width: 30%;
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 6px;
  }
  &__name {
  }
  &__pop {
  }
}
